/* html, body {
    height: max-content;
} */

html {
    background: #edeef0;
    font-size: 10px;
    overflow-y: hidden;
}

#box {
    background: #c6ccd8;
    border: 1px solid #2a5885;
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-top: 150px;
    margin-left: 450px;
    width: 30%;
    height: 50%;
}

.text {
    text-align: center;

}
.input_box {
    display: flex;
    flex-direction: row;
}

.reg {
    margin-top: 12px;
    margin-bottom: 12px;
}

.log {
    margin-top: 25px;
    margin-bottom: 25px;
}

.reset {
    margin-top: 25px;
    margin-bottom: 50px;
}

.text1 {
    margin-left: 3%;
    margin-top: 2%;
    width: 30%;
}

.field {
    margin-top: 2%;
}

.field  input{
    color:#202022;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 35px;
    border:0;
    padding-right: 20px;
    background-position: 15px center;
    background-size: 20px 20px;
    margin-left: 50%;
    padding-left: 10px;
    text-align: center;

}

#login button{
    background-color: #274b6970;
    padding: 12px 28px;
    border-radius: 5px;
    border: none;
    margin-left: 150px;
}

#reg button{
    background-color: #274b6970;
    padding: 12px 28px;
    border-radius: 5px;
    border: none;
    margin-left: 114px;
}

#reset button{
    background-color: #274b6970;
    padding: 12px 28px;
    border-radius: 5px;
    border: none;
    margin-left: 127px;
}

.text_box {
    display: flex;
    flex-direction: column;
}

.text2 {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    text-align: right;
    font-size: 13px;
}
